<h3>Search Results:</h3>
  <br>
  <% if (@languages && @users).empty? %>
    Sorry, nothing matched your search term.
  <% end %>

  <div>
    <% @languages.each do |language| %>
      <div>
        <b><em>Language: <%= language.name %> </em></b>
        <ul>
          <% language.users.each do |user| %>
            <li><%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %></li>
          <% end %>
        <ul>
      </div>
    <% end if @languages %>

    <% @users.each do |user| %>
      <div>
        <b><em>Let's Talk Member:</em></b>
        <%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %>
      </div>
    <% end if @users %>

  </div>
  <br>
</div>