<h1>Listing users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to 'Show', user %></td>
    <% if current_user == user %>
      <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
    <% end %>
    <%if can? :update, user and current_user.role == 'registered' || 'admin' %>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

