<div class="span8 well offset2 row text-center">
<h1>Let's Talk</h1>

<h3>Multilanguage online conversations</h3>
  <h4><p>If you have a busy life and your time it's scarse  here you have a greater time flexibility and feedom for a conversation.</p>
    <p>Don't waste time ! Now you can built your confidence and your communication skills with one a one conversation.</p></h4>

<h4>Say Bye Bye to borig stuff <%= link_to "here", new_user_registration_path %> or <%= link_to "login", new_user_session_path %>.</h4>
</div>