<div class="span8 well offset2 row text-center">
<h1>Let's Talk</h1>

<h3>Multilanguage online conversations</h3>

<h4>Say Bye Bye to borig stuff <%= link_to "here", new_user_registration_path %> / <%= link_to "login", new_user_session_path %>.</h4>
</div>