<div>
  <% if can? :create, current_user %>
<!--     < %= f.label :message, 'chat' %>
  < %= f.text_area :message, :autofocus => true, size: '100x3' %>
 -->  <% end %>
</div>
<!-- < %= f.submit 'Submit', class: "btn" %> -->