<div class="span8 well offset2 row text-center">
<h2>What did you say ???</h2>
<% @chats.each do |chat| %>
  <li><%= chat.from.firstname %> says: <%= chat.message %></li>
<% end %> 

<%= render partial: "form" %>
</div>