<div class="span8 well offset2 row text-center">
<ul>
<% @followers.each do |follower| %>
  <li><%= link_to "#{follower.firstname} #{follower.lastname}", user_path(follower) %> </li>
<% end %>
</ul>
</div>