<div class="span8 offset2 row text-center">
  <h1>About</h1>
  <%= content_for :page_title, 'About' %>
  <div>
    <h2>What is Let's Talk?</h2>
    <p> Let's Talk is a new application to allow people to have conversations with people all over the word to improve their communication skills with one a one conversation.</p>
    <p>Let's Talk is trasforming traditional learning languages by opening possibilities online to have conversations in a wide variety of languages with an interactive way of learning or improving it.</p><br />

    <h2>The Story</h2>
    <p>The Let's Talk is the brainchild of Anna Hendre. The concept was created when she was struggling to learn English before to come to London for a web developer course. She realized that need to practice a lot and in fact it shouldn't be at all hard to find people that talk English. This was the idea that inspired her  to strat Let's Talk, an application that cuts the rules about distance and traditional learning. It's easier to talk with people, improve your communication skills and maybe create new friendships. Who knows?</p>


    <%=  image_tag "about.png", :class => "img-circle", :width => "200px" %>
  </div>

</div>